<a href="https://colab.research.google.com/github/jinjinamanda/la-poule-qui-chante/blob/main/La_poule_qui_chante.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import AgglomerativeClustering
from sklearn import preprocessing
import matplotlib.pyplot as plt
dfDisponibiliteAlimentaire = pd.read_csv('DAN-P9-data/DisponibiliteAlimentaire_2017.csv', keep_default_na=False)
dfPopulation = pd.read_csv('DAN-P9-data/Population_2000_2018.csv', keep_default_na=False)

import warnings
warnings. simplefilter(action='ignore', category=Warning)

In [ ]:
dfDisponibiliteAlimentaire.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [ ]:
dfImportationProduction = dfDisponibiliteAlimentaire.loc[dfDisponibiliteAlimentaire["Élément"].isin(["Importations - Quantité", "Production"])]
dfImportationProduction.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
14,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2805,Riz et produits,2017,2017,Milliers de tonnes,338.0,S,Données standardisées
15,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2805,Riz et produits,2017,2017,Milliers de tonnes,415.0,S,Données standardisées
27,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2513,Orge et produits,2017,2017,Milliers de tonnes,95.0,S,Données standardisées

In [ ]:
dfImportationProductionViandevolaille = dfImportationProduction.loc[dfImportationProduction["Produit"] == "Viande de Volailles"]
dfImportationProductionViandevolaille.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
1704,FBS,Nouveaux Bilans Alimentaire,202,Afrique du Sud,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,1667.0,S,Données standardisées
1705,FBS,Nouveaux Bilans Alimentaire,202,Afrique du Sud,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,514.0,S,Données standardisées
2713,FBS,Nouveaux Bilans Alimentaire,3,Albanie,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,13.0,S,Données standardisées

In [ ]:
dfpivot_tablevolaille = dfImportationProductionViandevolaille.pivot_table(values="Valeur", index=["Zone","Produit"], columns="Élément")
dfpivot_tablevolaille.head()

Élément                             Importations - Quantité  Production
Zone           Produit
Afghanistan    Viande de Volailles                     29.0        28.0
Afrique du Sud Viande de Volailles                    514.0      1667.0
Albanie        Viande de Volailles                     38.0        13.0
Algérie        Viande de Volailles                      2.0       275.0
Allemagne      Viande de Volailles                    842.0      1514.0

In [ ]:
dfPopulation.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,

In [ ]:
dfPopulation.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,4411.000000,4411.0,4411.0,4411.000000,4411.000000,4.411000e+03
mean,132.202902,511.0,3010.0,2009.068238,2009.068238,2.963004e+04
std,75.854840,0.0,0.0,5.481539,5.481539,1.238029e+05
min,1.000000,511.0,3010.0,2000.000000,2000.000000,7.850000e-01
25%,68.000000,511.0,3010.0,2004.000000,2004.000000,3.921890e+02
50%,132.000000,511.0,3010.0,2009.000000,2009.000000,4.764741e+03
75%,195.000000,511.0,3010.0,2014.000000,2014.000000,1.821548e+04
max,299.000000,511.0,3010.0,2018.000000,2018.000000,1.427648e+06

In [ ]:
dfPopulationsort= dfPopulation.sort_values(["Zone","Année"], ascending=True)
dfPopulationsort.head(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,
5,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2005,2005,1000 personnes,25654.277,X,Sources internationales sûres,
6,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2006,2006,1000 personnes,26433.049,X,Sources internationales sûres,
7,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2007,2007,1000 personnes,27100.536,X,Sources internationales sûres,
8,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2008,2008,1000 personnes,27722.276,X,Sources internationales sûres,
9,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2009,2009,1000 personnes,28394.813,X,Sources internationales sûres,

In [ ]:
dfPopulationsort["Évolution population"] = dfPopulationsort["Valeur"].diff(1)/dfPopulationsort["Valeur"].shift(1)

dfPopulationsort["Valeur"] = dfPopulationsort["Valeur"].replace(to_replace=2000,value=np.nan)

dfPopulation20012017 = dfPopulationsort.loc[(dfPopulationsort["Année"] >= 2001) & (dfPopulationsort["Année"] <= 2017)]

dfmoyenne_evolution_population = dfPopulation20012017["Évolution population"].mean()

print(dfmoyenne_evolution_population)

0.05451865989988531

In [ ]:
dfPopulation2017 = dfPopulation20012017.loc[(dfPopulation20012017["Année"] == 2017)]
dfPopulation2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note,Évolution population
17,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,36296.113,X,Sources internationales sûres,,0.025806
36,OA,Séries temporelles annuelles,202,Afrique du Sud,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,57009.756,X,Sources internationales sûres,,0.014270
55,OA,Séries temporelles annuelles,3,Albanie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,2884.169,X,Sources internationales sûres,,-0.000786
74,OA,Séries temporelles annuelles,4,Algérie,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,41389.189,X,Sources internationales sûres,,0.020660
93,OA,Séries temporelles annuelles,79,Allemagne,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,82658.409,X,Sources internationales sûres,,0.005653

In [ ]:
dfPopulation2017['Valeur']= dfPopulation2017['Valeur']*1000
dfmergedviandevolaille = pd.merge(dfpivot_tablevolaille, dfPopulation2017[['Zone','Valeur','Évolution population']], on="Zone")
dfmergedviandevolaille.head()

,Zone,Importations - Quantité,Production,Valeur,Évolution population
0,Afghanistan,29.0,28.0,36296113.0,0.025806
1,Afrique du Sud,514.0,1667.0,57009756.0,0.014270
2,Albanie,38.0,13.0,2884169.0,-0.000786
3,Algérie,2.0,275.0,41389189.0,0.020660
4,Allemagne,842.0,1514.0,82658409.0,0.005653

In [ ]:
# Créer un ensemble de données
data = np.random.randn(1000)

# Créer un boxplot
plt.boxplot(dfmergedviandevolaille)

# Identifier les outliers
outliers = [x for x in data if x < data.quantile(0.25) - 1.5 * data.iqr() or x > data.quantile(0.75) + 1.5 * data.iqr()]

print(outliers)

In [ ]:
plt.plot(dfmergedviandevolaille.Zone,dfmergedviandevolaille.Valeur, "o")
plt.plot(np.arange(100),[a*x+b for x in np.arange(100)])
plt.xlabel("Zone")
plt.ylabel("Valeur")
plt.show()

In [ ]:
dfmergedviandevolaille['scalerPop']=preprocessing.RobustScaler().fit_transform(dfmergedviandevolaille[['Valeur']])
dfmergedviandevolaille.head()

In [ ]:
plt.plot(dfmergedviandevolaille.Zone,dfmergedviandevolaille.scalerPop, "o")
plt.plot(np.arange(100),[a*x+b for x in np.arange(100)])
plt.xlabel("Zone")
plt.ylabel("scalerPop")
plt.show()

In [ ]:
# Importez le modèle
from sklearn.neighbors import LocalOutlierFactor

# Créez le modèle
model = LocalOutlierFactor(n_neighbors=5)

# Supprimez les valeurs NaN
dfmergedviandevolaille = dfmergedviandevolaille.dropna()

# Calculez les scores d'outliers
scores = model.fit_predict(dfmergedviandevolaille[['Importations - Quantité', 'Valeur', 'Production']])

# Identifiez les outliers
outliers = dfmergedviandevolaille[scores == -1]

# Comptez le nombre d'outliers
n_outliers = len(outliers)

# Imprimez les outliers
print(outliers)